.welcome-section {
  background: url('~images/content/background.png')  no-repeat; 
  background-size: cover;
  height: 100vh;

  @include desktop {
    height: 100%;
  }
}

// Так породни свои сочащие сибирской язвой ночи и мои пропитанные сплином дни.