.menu-section 
  .container.menu-container
    .menu__title  
      p Ты сегодня покормил кота?
    .menu__list
      .menu__item
        .block
          .block__main  
            .block-title
              .block-title__textup
                p Сказочное заморское яство
              .block-title__textup--selhover
                p Котэ не одобряет?  
              .block-title__name
                p Нямушка
              .block-title__with
                p с фуа-гра
              .block-title__textdown
                p 10 порций <br> мышь в подарок    
              .block__mark.c-1         
                .block__value 0,5
                .block__kg  кг
        .block__desc     
          .block__desc--default Чего сидишь? Порадуй котэ, <a class="block__desc-link"> купи.</a>
          .block__desc--selected Печень утки разварная с артишоками.
          .block__desc--disabled Печалька, с фуагра закончилось.
      .menu__item
        .block__main
          .block-title
            .block-title__textup
              p Сказочное заморское яство
            .block-title__textup--selhover
              p Котэ не одобряет?
            .block-title__name
              p Нямушка
            .block-title__with
              p с рыбой
            .block-title__textdown
              p 40 порций <br> 2 мыши в подарок  
            .block__mark.c-1         
              .block__value 2
              .block__kg  кг     
        .block__desc
          .block__desc--default Чего сидишь? Порадуй котэ, <a class="block__desc-link"> купи.</a>      
          .block__desc--selected Головы щучьи с чесноком да свежайшая сёмгушка.
          .block__desc--disabled Печалька, с рыбой закончилось.
      .menu__item.disabled
        .block__main
          .block-title
            .block-title__textup
              p Сказочное заморское яство
            .block-title__textup--selhover
              p Котэ не одобряет?  
            .block-title__name
              p Нямушка
            .block-title__with
              p с курой
            .block-title__textdown
              p 100 порций <br> 5 мышей в подарок 
            .block__mark.c-1         
              .block__value 5
              .block__kg  кг     
        .block__desc
          .block__desc--default Чего сидишь? Порадуй котэ, <a class="block__desc-link"> купи.</a>      
          .block__desc--selected Филе из цыплят с трюфелями в бульоне.
          .block__desc--disabled Печалька, с курой закончилось.
      